<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      API CoBID
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar>
      <ion-title size="large" style="text-align: center;"><b>Covid 19 Info</b></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink] = "['/select-countries']" size="small">
      <ion-icon name = "add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

    <ion-card style = "background-color:khaki;">
      <ion-card-header>
        <ion-card-title style="background-color: rgb(129, 153, 81);">
          <img src="https://images-eu.ssl-images-amazon.com/images/I/71xCU6A1rUL.png" style="width: 20px;"/>
          Global
        </ion-card-title>
        <ion-card-subtitle>
          {{lastDate | date: 'dd/MM/yyyy HH:mm'}}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class='colinfo'>
              <ion-icon name="person-add-outline" style="color :darkred"></ion-icon>
              {{summary.NewConfirmed|number:0}}
            </ion-col>
            <ion-col class='colinfo'>
              <ion-icon name="people" style="color :darkred"></ion-icon>
              {{summary.TotalConfirmed|number:0}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class='colinfo'>
              <ion-icon name="skull-outline" style="color: darkslategray;"></ion-icon>
              {{summary.NewDeaths|number:0}}
            </ion-col>
            <ion-col class='colinfo'>
              <ion-icon name="skull" style="color: darkslategray;"></ion-icon>
              {{summary.TotalDeaths|number:0}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class='colinfo'>
              <ion-icon name="person-remove-outline" style="color:green;"></ion-icon>
              {{summary.NewRecovered|number:0}}
            </ion-col>
            <ion-col class='colinfo'>
              <ion-icon name="people" style="color: green;"></ion-icon>
              {{summary.TotalRecovered|number:0}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card *ngFor= "let country of newCountries" style = "background-color:khaki;" >
      <ion-card-header>
        <ion-card-title style="background-color: rgb(129, 153, 81);">
          {{country.Country}}
        </ion-card-title>
        <ion-card-subtitle>
          {{lastDate | date: 'dd/MM/yyyy HH:mm'}}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class='colinfo'>
              <ion-icon name="person-add-outline" style="color :darkred"></ion-icon>
              {{country.NewConfirmed|number:0}}
            </ion-col>
            <ion-col class='colinfo'>
              <ion-icon name="people" style="color :darkred"></ion-icon>
              {{country.TotalConfirmed|number:0}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class='colinfo'>
              <ion-icon name="skull-outline" style="color: darkslategray;"></ion-icon>
              {{country.NewDeaths|number:0}}
            </ion-col>
            <ion-col class='colinfo'>
              <ion-icon name="skull" style="color: darkslategray;"></ion-icon>
              {{country.TotalDeaths|number:0}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class='colinfo'>
              <ion-icon name="person-remove-outline" style="color:green;"></ion-icon>
              {{country.NewRecovered|number:0}}
            </ion-col>
            <ion-col class='colinfo'>
              <ion-icon name="people" style="color: green;"></ion-icon>
              {{country.TotalRecovered|number:0}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
</ion-content>
