<ion-header>
  <ion-toolbar>
    <ion-title>Paises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button [routerLink] = "['/home']" size="small">
      <ion-icon name = "arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onSubmit()">
      <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    <ion-list>
      <ion-item *ngFor = "let item of countries">
        <ion-label> {{item.Country}} </ion-label>
        <ion-checkbox [(ngModel)] = "item.isChecked"></ion-checkbox>
      </ion-item>
    </ion-list>
</ion-content>
